/*
.nav-item {
    color: #fff;
}
*/

.landing {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: #fff;
    background-position-y: 45px;
    margin: 0 -1.5rem;
}

.layer {
    width: 100vh;
    padding: 0 1rem;
}

.landing h1 {
    font-size: 42pt;
    line-height: 60px;
}
.landing p {
    font-weight: bold;
    line-height: initial;
    font-size: 20pt;
}

.cta-btn {
    color: #fff!important;
    background: transparent;
    border: solid #fff 2px;
    font-size: 18pt;
    padding: 10px 1.5rem;
    font-weight: bold;
}

.cta-btn:hover {
    background: transparent;
    border: solid 2px #000;
    background: #10dbbd!important;
    color: #000!important;
}

h3 {font-size: 20pt;}

p {
    font-size: 1.125rem;
    font-weight: 450;
    letter-spacing: .5px;
    word-spacing: 1px;
}

article {
    font-size: 15pt;
}

@media only screen and (max-width: 600px) {
    .landing h1 {
        font-size: 28pt;
        line-height: 45px;
    }
    .landing p {
        font-size: 14pt;
    }
}

/* ARCHIVE SECTION: possibly move to overrides.scss */

.archive .categories-card .card-item {
    font-size: .875rem;
    text-align: left;
    display: flex;
    width: 75%!important;
    align-items: flex-start;
    margin-top: 2rem;
    min-height: 10rem;
    padding: 0 2%;
    position: relative;
}

/* ABOUT ME SECTION */
.ab-landing {
    width: 100vw;
    height: 25vh;
    position: relative;
    left: calc(-50vw + 50%);
    background-image: url("https://ceriumnetworks.com/wp-content/uploads/2017/12/networking-infographic.png");
}

.ab-intro {
    text-align: center;
    padding-top: 2rem;
}