/* start header overrides */
/*
header {
    background-color: #373841!important;
}
*/

#header-desktop .header-wrapper .menu .menu-item.delimiter {
    border-left: 1.5px solid #363636!important;
}
/* end header overrides */

.wrapper main .container {
    margin: 0 1.5rem;
    padding: 0!important;
}

[theme=dark] .home .summary .content {
    color: #a9a9b3!important;
}

.home .summary .content{
    color: #161209!important;
}

/* Mobile Responsive Section */
#header-mobile .header-container .header-wrapper .menu-toggle span {
    background: #fff!important;
}

@media only screen and (max-width: 680px) {
    #header-mobile {
        display: none;
        color: #fff!important;
    }
}

/* _single.scss */
.single .content>h2>.header-mark::before {
    content: none!important;
    
}
.special .single-title, .special .single-subtitle {
    text-align: center!important;
}

.single .content p {
    margin-top: 1.5rem!important;
    margin-bottom: 1.5rem!important;
}

/* archive overrides */
.archive .single-title {
    text-align: center!important;
}

.archive .archive-item {
    margin-left: 0!important;
    margin-top: .5rem!important;
    margin-bottom: .5rem!important;
}

.archive .archive-item-link {
    min-width: 10%;
    overflow: hidden;
    white-space: inherit!important;
    text-overflow: ellipsis;
}

h1.single-title.animated.pulse.faster {
    display: none!important;
}

/* footer.html */
footer {
    background: #252627;
    color: #fff;
}

.footer-line {
    color:#a9a9b3;
}
.footer-line a {
    color: #2d96bd!important;
}
