<!--<section class="landing" style="background-image:  linear-gradient(rgba(26, 208, 191, 0.63), rgba(5, 184, 255, 0.22)), url('./images/nasa.jpg')">-->
<section class="landing" style="background-image:  linear-gradient(rgba(0, 0, 0, 0.63), rgba(0, 0, 0, 0.22)), url('./images/nasa.jpg')">
    <div class="layer">
        <h1>Affordable digital assets and useful articles about technology.</h1>
        <br>
        <a class="cta-btn" href="#articles">View Articles</a>
    </div>
</section>